/*-------------------------------------------All Templates */

html {
    height: 100%;
}

h1, h2 {
    font-family: "Signika", sans-serif;
}

body {
    font-family: "Raleway", sans-serif;
    height: calc(100vh - 164px);
}

.title-text {
    color: #16c0f0;
}

h3, h4, h5, p {
    color: #343f4d;
}

.block-text {
    line-height: 3rem;
}

/*-------------------------------------------Homepage Carousel */

.carousel-item {
    height: 75vh;
    color: white;
    position: relative;
    text-align: center;
}

.carousel-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.carousel-container h1 {
    color: white;
}

.carousel-image-1{
    background: url('/media/carousel-image-1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.carousel-image-2{
    background: url('/media/carousel-image-2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.carousel-image-3{
    background: url('/media/carousel-image-3.jpg') no-repeat center center fixed;
    background-size: cover;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: white;
    color: #343f4d;
}

/*-------------------------------------------Homepage Categories */

.category-box {
    height: 275px;
    width: 275px;
}

.category-image {
    background-repeat: no-repeat;
}

#artistic-image {
    background: url('/media/artistic-image.jpg');  
}

#cityscape-image {
    background: url('/media/cityscape-image.jpg');  
}

#food-image {
    background: url('/media/food-image.jpg');  
}

#nature-image {
    background: url('/media/nature-image.jpg');  
}

#people-image {
    background: url('/media/people-image.jpg');  
}

#pop-culture-image {
    background: url('/media/pop-culture-image.jpg');  
}

#pop-culture-image {
    background: url('/media/pop-culture-image.jpg');  
}

#text-art-image {
    background: url('/media/text-art-image.jpg');  
}

#travel-image {
    background: url('/media/travel-image.jpg');  
}

.category-text {
    color: white;
    text-align: center;
    padding-top: 5px;
}

/*-------------------------------------------Buttons */

.purple-btn {
    background: #8a25b1;
    color: white;
    min-width: 260px;
}

.purple-btn:hover,
.purple-btn:active,
.purple-btn:focus {
    background: #efbbff;
    color: white;
}