/*-------------------------------------------All Templates */

html {
    height: 100%;
}

h1, h2 {
    font-family: "Signika", sans-serif;
}

body {
    font-family: "Raleway", sans-serif;
    height: calc(100vh - 164px);
}

.title-text {
    color: #16c0f0;
}

.title-text-purple {
    color: #8a25b1;
}

h3, h4, h5, p {
    color: #343f4d;
}

.block-text {
    line-height: 3rem;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #343f4d!important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #343f4d;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343f4d !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*-------------------------------------------Homepage Carousel */

.carousel-item {
    height: 75vh;
    color: white;
    position: relative;
    text-align: center;
}

.carousel-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.carousel-container h1 {
    color: white;
}

.carousel-image-1{
    background: url('/media/carousel-image-1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.carousel-image-2{
    background: url('/media/carousel-image-2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.carousel-image-3{
    background: url('/media/carousel-image-3.jpg') no-repeat center center fixed;
    background-size: cover;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: white;
    color: #343f4d;
}

/*-------------------------------------------Homepage Categories */

.category-box {
    height: 275px;
    width: 275px;
}

.category-image {
    background-repeat: no-repeat;
}

#artistic-image {
    background: url('/media/artistic-image.jpg');  
}

#cityscape-image {
    background: url('/media/cityscape-image.jpg');  
}

#food-image {
    background: url('/media/food-image.jpg');  
}

#nature-image {
    background: url('/media/nature-image.jpg');  
}

#people-image {
    background: url('/media/people-image.jpg');  
}

#pop-culture-image {
    background: url('/media/pop-culture-image.jpg');  
}

#pop-culture-image {
    background: url('/media/pop-culture-image.jpg');  
}

#text-art-image {
    background: url('/media/text-art-image.jpg');  
}

#travel-image {
    background: url('/media/travel-image.jpg');  
}

.category-text {
    color: white;
    text-align: center;
    padding-top: 5px;
}

/*-------------------------------------------Homepage Best Sellers  */

#bestseller-one {
    background: url('/media/bestseller-one.jpg');
}

#bestseller-two {
    background: url('/media/bestseller-two.jpg');
}

#bestseller-three {
    background: url('/media/bestseller-three.jpg');
}

#bestseller-four {
    background: url('/media/bestseller-four.jpg');
}

/*-------------------------------------------Our Story */

.story-box {
    height: 360px;
    width: 1610px;
}

#our-story-one {
    background: url('/media/our-story-one.jpg');
}

#our-story-two {
    background: url('/media/our-story-two.jpg');
}

/*-------------------------------------------Buttons */

.purple-btn {
    background: #8a25b1;
    color: white;
}

.purple-btn-outline {
    background: white;
    color: #8a25b1 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #8a25b1;
}

.purple-btn:hover,
.purple-btn:active,
.purple-btn:focus {
    background: #efbbff;
    color: white;
}

.purple-btn-outline:hover,
.purple-btn-outline:active,
.purple-btn-outline:focus {
    background: #efbbff;
    color: white !important;
}

.search-btn {
    background: #8a25b1;
    color: white;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus {
    background: #efbbff;
    color: white;
}

/*-------------------------------------------Header */

#favicon {
    height: 16px;
}

.logo-font {
    color: #343f4d;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}    

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #343f4d !important;
}

.border-black {
    border: 1px solid #343f4d!important;
}

.bg-purple {
    background: #8a25b1!important;;
}

.bg-purple h4 {
    color: white;
}

/* -------------------------------- Footer */

.footer-bg {
    background: #343f4d;
}

.footer-text {
    color: white;
}

.footer-li {
    list-style-type: none;
}

.footer-li a {
    color: white;
    text-decoration: none;
}

.footer-li h5 {
    color: #16c0f0;
    font-family: "Signika", sans-serif;
}

.footer-li i {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* -------------------------------- Media Queries */

 .contact-form {
    max-width: 70%;
} 

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #343f4d;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #8a25b1!;
    border: 1px solid #8a25b1!;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #efbbff;
    border-color: #efbbff;
}

.allauth-form-inner-content a {
	color: #16c0f0; /* text-info */
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

   .header-container {
        padding-top: 164px;
    }
}

/* add a bit of padding to the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}