{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="homepage-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#homepage-carousel" data-slide-to="1"></li>
            <li data-target="#homepage-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active carousel-image-1" data-interval="8000">
                <div class="d-block w-100"></div>
                <div class="container carousel-container">
                        <h1 class="text-uppercase">A window into an artists mind</h1>
                        <a href="/" class="purple-btn btn btn-lg text-uppercase">View and collect</a>
                </div>
        </div>
        <div class="carousel-item carousel-image-2" data-interval="8000">
            <div class="d-block w-100"></div>
            <div class="container carousel-container">
                <h1 class="text-uppercase">Once they're gone, thery're gone.</h1>
                <a href="/" class="purple-btn btn btn-lg text-uppercase">View and collect</a>
            </div>
        </div>
        <div class="carousel-item carousel-image-3" data-interval="8000">
            <div class="d-block w-100"></div>
            <div class="container carousel-container">
                <h1 class="text-uppercase">Different styles but still original</h1>
                <a href="/" class="purple-btn btn btn-lg text-uppercase">View and collect</a>
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#homepage-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#homepage-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase title-text">Unique, Original and Timeless</h1>
                <h5 class="mt-3 block-text">All our posters are loving made by our artists here at Picturesque. Whether their craft is painting, drawing or photography, you can be sure that you'll be 
                 owning a limited original piece. It'll look good no matter where you hang it. Add one of our posters to your collection today.</h5>
                <a href="/" class="purple-btn btn btn-lg text-uppercase mt-3">More info</a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase title-text">Take a peek at our collection</h1>
                <h5 class="mt-3 block-text">Choose a category to get started.</h5>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase title-text">Bestsellers</h1>
                <h5 class="mt-3 block-text">Get them while you still can.</h5>
            </div>
        </div>
    </div>
{% endblock %}