<div class="footer-bg">
    <div class="text-center container">
        <div class="row pt-5">
            <div class="col-12 ">
                <h2 class="text-uppercase title-text">Want more of Picturesque in your life?</h2>
                <h5 class="footer-text pt-3">Subscribe to our monthly newsletter.</h5>
                <a href="/" class="purple-btn btn btn-lg text-uppercase mt-3 rounded-pill">Sign me up</a>
            </div>
        </div>
        <div class="row pt-5 py-5">
            <div class="col-lg-4 col-md-4 col-12 pb-3">
                <ul class="footer-li">
                        <li><h5 class="text-uppercase">Categories</h5></li>
                        <li ><a href="{% url 'posters' %}?category=artistic">Artistic</a></li>
                        <li> <a href="{% url 'posters' %}?category=cityscape">Cityscape</a></li>
                        <li> <a href="{% url 'posters' %}?category=food">Food</a></li>
                        <li> <a href="{% url 'posters' %}?category=nature">Nature</a></li>
                        <li> <a href="{% url 'posters' %}?category=people">People</a></li>
                        <li> <a href="{% url 'posters' %}?category=pop_culture">Pop Culture</a></li>
                        <li> <a href="{% url 'posters' %}?category=text_art">Text Art</a></li>
                        <li> <a href="{% url 'posters' %}?category=travel">Travel</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-12 footer-li pb-4">
                <h5 class="text-uppercase">Follow Us</h5>
                <a target="_blank" href="https://facebook.com"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a target="_blank" href="https://instagram.com"><i class="fab fa-instagram-square fa-2x"></i></a>
                <a target="_blank" href="https://youtube.com"><i class="fab fa-youtube fa-2x"></i></a>
                <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter-square fa-2x"></i></a>
                <a target="_blank" href="https://pinterest.com"><i class="fab fa-pinterest-square fa-2x"></i></a>
            </div>
            <div class="col-lg-4 col-md-4 col-12 pb-3">
                <ul class="footer-li">
                        <li><h5 class="text-uppercase">Quick Links</h5></li>
                        <li> <a href="{% url 'home' %}">Home</a></li>
                        <li> <a href="{% url 'posters' %}">All Posters</a></li>
                        <li> <a href="/">Our Story</a></li>
                        <li> <a href="/">FAQs</a></li>
                        <li> <a href="/">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>