<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-posters-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-posters-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">By Artist</a>
                <a href="{% url 'posters' %}" class="dropdown-item">All Posters</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="" class="dropdown-item">Artistic</a>
                <a href="" class="dropdown-item">Cityscape</a>
                <a href="" class="dropdown-item">Food</a>
                <a href="" class="dropdown-item">Nature</a>
                <a href="" class="dropdown-item">People</a>
                <a href="" class="dropdown-item">Pop Culture</a>
                <a href="" class="dropdown-item">Text Art</a>
                <a href="" class="dropdown-item">Travel</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-us-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-us-link">
                <a href="" class="dropdown-item">Our Story</a>
                <a href="" class="dropdown-item">FAQs</a>
                <a href="" class="dropdown-item">Contact Us</a>
            </div>
        </li>
    </ul>
</div>