{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-uppercase title-text">Faqs</h2>
                <hr>
                <h5 class="text-uppercase my-3">Can I exchange or return a poster? </h5>
                <p>We offer 28 day exchanges or returns on all our posters. If in case for any reason you're not happy with your purchase. If it's a refund we'll check the item to make sure 
                    it's still in good condition before we issure the refund. We recommend to keep the box for 28 days just in case you change your mind. We provide the paid return label as
                    well, so you dont have to worry about the postage.
                </p>
                <h5 class="text-uppercase my-3">How long before I a receive my  order? </h5>
                <p> We usually ship your order within 24 hours of receiving it. The delivery times are usually 3-5 days within the UK and 1-2 weeks internationally. For international deliverys
                    there may be additional delay because of the couriers.
                </p>
            </div>
        </div>
    </div>
{% endblock %}