{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-uppercase title-text">Faqs</h2>
                <hr>
                <h5 class="text-uppercase my-3 font-weight-bold title-text-purple">Can I exchange or return a poster? </h5>
                <p class="block-text">We offer 28 day exchanges or returns on all our posters. If in case for any reason you're not happy with your purchase. If it's a refund we'll check the item to make sure 
                    it's still in good condition before we issure the refund. We recommend to keep the box for 28 days just in case you change your mind. We provide the paid return label as
                    well, so you dont have to worry about the postage.
                </p>
                <h5 class="text-uppercase my-3 font-weight-bold title-text-purple">How long before I a receive my order? </h5>
                <p class="block-text"> We usually ship your order within 24 hours of receiving it. The delivery times are usually 3-5 days within the UK and 1-2 weeks internationally. For international deliverys
                    there may be additional delay because of the couriers.
                </p>
                <h5 class="text-uppercase my-3 font-weight-bold title-text-purple">Does the poster come with a warranty? </h5>
                <p class="block-text">We have a warranty on printed posters of 1 year. But we do not offer a warranty on drawing, painted posters etc. as they are made by hand.
                </p>
                <h5 class="text-uppercase my-3 font-weight-bold title-text-purple">How do I hang up my poster? </h5>
                <p class="block-text">All our frames come with a mount so you can hang your new poster without drilling any holes. We will soon be offering frames as well.
                </p>
            </div>
        </div>
    </div>
{% endblock %}