{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div id="homepage-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#homepage-carousel" data-slide-to="1"></li>
            <li data-target="#homepage-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active carousel-image-1" data-interval="8000">
                <div class="d-block w-100"></div>
                <div class="container carousel-container">
                        <h1 class="text-uppercase">A window into an artists mind</h1>
                        <a href="{% url 'posters' %}?category=artistic,cityscape,food,nature,people,pop_culture,text_art,travel" class="purple-btn btn btn-lg text-uppercase rounded-pill">View and collect</a>
                </div>
        </div>
        <div class="carousel-item carousel-image-2" data-interval="8000">
            <div class="d-block w-100"></div>
            <div class="container carousel-container">
                <h1 class="text-uppercase">Once they're gone, thery're gone.</h1>
                <a href="{% url 'posters' %}?category=artistic,cityscape,food,nature,people,pop_culture,text_art,travel" class="purple-btn btn btn-lg text-uppercase rounded-pill">View and collect</a>
            </div>
        </div>
        <div class="carousel-item carousel-image-3" data-interval="8000">
            <div class="d-block w-100"></div>
            <div class="container carousel-container">
                <h1 class="text-uppercase">Different styles but still original</h1>
                <a href="{% url 'posters' %}?category=artistic,cityscape,food,nature,people,pop_culture,text_art,travel" class="purple-btn btn btn-lg text-uppercase rounded-pill">View and collect</a>
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#homepage-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#homepage-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-uppercase title-text">Unique, Original and Timeless</h2>
                <h5 class="mt-3 block-text">All our posters are loving made by our artists here at Picturesque. Whether their craft is painting, drawing or photography, you can be sure that you'll be 
                 owning a limited original piece. It'll look good no matter where you hang it. Add one of our posters to your collection today.</h5>
                <a href="/" class="purple-btn btn btn-lg text-uppercase mt-3 rounded-pill">More info</a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-uppercase title-text">Take a peek at our collection</h2>
                <h5 class="mt-3 block-text">Choose a category to get started.</h5>
            </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?category=artistic" style="color: #efbbff;">
                    <div id="artistic-image" class="category-box category-image rounded"><h2 class="category-text">Artistic</h2></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?category=cityscape" style="color: #efbbff;">
                    <div id="cityscape-image" class="category-box category-image rounded"><h2 class="category-text">Cityscape</h2></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?category=food" style="color: #efbbff;">
                    <div id="food-image" class="category-box category-image rounded"><h2 class="category-text">Food</h2></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?category=nature" style="color: #efbbff;">
                    <div id="nature-image" class="category-box category-image rounded"><h2 class="category-text">Nature</h2></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?category=people" style="color: #efbbff;">
                    <div id="people-image" class="category-box category-image rounded"><h2 class="category-text">People</h2></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?category=pop_culture" style="color: #efbbff;">
                    <div id="pop-culture-image" class="category-box category-image rounded"><h2 class="category-text">Pop Culture</h2></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?category=text_art" style="color: #efbbff;">
                    <div id="text-art-image" class="category-box category-image rounded"><h2 class="category-text">Text Art</h2></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?category=travel" style="color: #efbbff;">
                    <div id="travel-image" class="category-box category-image rounded"><h2 class="category-text">Travel</h2></div>
                </a>
            </div>
        </div>
        </div>
    </div>

    

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-uppercase title-text">Bestsellers</h2>
                <h5 class="mt-3 block-text">Get them while you still can.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?sort=rating&direction=desc">
                    <div id="bestseller-one" class="category-box category-image rounded"></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?sort=rating&direction=desc">
                    <div id="bestseller-two" class="category-box category-image rounded"></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?sort=rating&direction=desc">
                    <div id="bestseller-three" class="category-box category-image rounded"></div>
                </a>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-3">
                <a href="{% url 'posters' %}?sort=rating&direction=desc">
                    <div id="bestseller-four" class="category-box category-image rounded"></div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

