{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-uppercase title-text">Our Story</h2>
                <hr>
            </div>
            <div class="col-12">
                <div id="our-story-one" class="story-box category-image rounded d-none d-lg-block my-3"></div>
            </div>
            <div class="col">
                <h4 class="text-uppercase font-weight-bold">About Us</h4>
                <p class="block-text">We are a company that started from humble origins. We started as a group of five people all with different backgrounds. Some
                    of us were photographers and others artisits. In a small garage which we rented we started producing posters which to sell, aside form our daily
                    jobs. But our thing was all our posters were our own, not like anything else on the market. Before any of us realised what was happening we managed 
                    to create a sustainable business and we eventually become a small team of 30. 
                </p>
            </div>
            <div class="col-12">
                <div id="our-story-two" class="story-box category-image rounded d-none d-lg-block my-3"></div>
            </div>
            <div class="col">   
                <h4 class="text-uppercase font-weight-bold">Our Passion</h4>
                <p class="block-text">All of our posters take time and care to produce. We value originally and hard work, which is why are posters are of such high quality.
                    We normally work in small teams of five, with lead artists on each poster. Each crafting their own poster from their own expertise. Some will look at our 
                    selection and say there are few to choose from. But what we can say to them is that each poster in our store was carefully made and constucted from the result
                    of hours of work. We here at Picturesque really value quality or quantity.
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}